.boot-menu {
    width: 100%;
    height: 100%;
    background: url(boot-bg.png);
}

.boot-menu h1 {
    font-family: EggWhite;
    font-weight: normal;
    font-size: 32px;
    text-shadow: 2px 2px 0px #140c1c;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
}

.boot-menu .main.selections {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 70px;
    transform: translateX(-50%);
}

.boot-menu .main.selections li:first-child {
    margin-bottom: 0.25em;
}

.boot-load-menu, .boot-options-menu {
    width: 255px;
    height: 238px;
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.boot-load-menu .title, .boot-options-menu .title {
    flex: 0 0 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.boot-load-menu .selections {
    flex: 1 0;
    overflow: hidden;
    position: relative;
}

.boot-options-menu .selections {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
}

.boot-options-menu .selections li {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    margin: 2px;
}

.boot-options-menu .selections li meter {
    height: 8px;
}

.boot-options-menu .selections li meter::-webkit-meter-bar {
    background-color: #30346D;
}

.boot-options-menu .selections li meter::-webkit-meter-optimum-value {
    background: #6daa2c;
}


.boot-options-menu .selections li > div {
    flex: 0 0 auto;
    white-space: nowrap
}

.boot-options-menu .selections li > div.value {
    flex: 1 0;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.boot-options-menu .selections li > div.value .indicator {
    flex: 0 0 auto;
    padding-left: 18px;
    color: #4E4A4E;
    position: relative;
}

.boot-options-menu .selections li > div.value.false .indicator.false,
.boot-options-menu .selections li > div.value.true .indicator.true {
    color: #DEEED6;
}

.boot-options-menu .selections li > div.value.false .indicator.false::before,
.boot-options-menu .selections li > div.value.true .indicator.true::before {
    content: "";
    position: absolute;
    background-image: url("ui_icons.png");
    background-position: -14px -14px;
    width: 14px;
    height: 14px;
    left: 4px;
}

.boot-options-menu .selections li.divider {
    flex: 1 0;
}

.boot-options-menu .selections li.foot {
    text-align: center;
    padding-left: 10px;
}
