.boot-menu {
    width: 100%;
    height: 100%;
    background: url(boot-bg.png);
}

.boot-menu h1 {
    font-family: EggWhite;
    font-weight: normal;
    font-size: 32px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
}

.boot-menu .selections {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 70px;
    transform: translateX(-50%);
}
