.credits .hold-indicator {
    position: absolute;
    bottom: 5px;
    right: 5px;
    opacity: 0;
    height: 5px;
    width: 30px;
    border: 2px solid #442434;
    transition: opacity 0.2s;
    box-sizing: border-box;
}

.credits .hold-indicator::-webkit-meter-bar {
    background: #442434;
}

.credits .hold-indicator::-webkit-meter-optimum-value {
    background: #deeed6;
}

.credits .hold-indicator.visible {
    opacity: 1;
}

.credits .scroller {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 15px 15px;
    text-shadow: 1px 1px 0px #442434;
}

.credits .scroller > div {
    margin: 240px 0;
}

.credits h1 {
    font-family: EggWhite;
    text-align: center;
    margin: 20px 0px;
    font-weight: normal;
    font-size: 32px;
    text-shadow: 2px 2px 0px #442434;
}

.credits h2 {
    font-family: EggWhite;
    text-align: center;
    margin: 30px 0px 12px 0px;
    font-weight: normal;
    font-size: 26px;
    text-shadow: 2px 2px 0px #442434;
    line-height: 100%;
}

.credits p {
    margin-bottom: 12px;
}

.credits p.centered {
    text-align: center;
}

.credits ul {
    text-align: center;
}

.credits li {
    list-style: none;
}
