.main-menu {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
}

.main-menu .right-column {
    position: absolute;
    width: 65px;
    top: 2px;
    right: 2px;
}

.main-menu .right-column > * {
    margin-bottom: 1px;
    padding: 3px;
    border-style: solid;
    border-image: url(box.png) 2 2 fill repeat;
    border-width: 2px;
}
.main-menu .overview {
    text-align: right;
}

.main-menu .main-area {
    box-sizing: border-box;
    width: calc(100% - 70px);
    height: calc(100% - 4px);
    border-style: solid;
    border-image: url(box.png) 2 2 fill repeat;
    border-width: 2px;
    margin: 2px;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-menu .main-area .layout-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
}

.main-menu .main-area .layout-row > section:not(:last-child),
.main-menu .main-area .layout-row > div:not(:last-child) {
    margin-right: 15px;
}

.main-menu .main-area .layout-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.main-menu .main-area .layout-flow {
    flex-wrap: wrap;
}

.main-menu .main-area .right-align {
    text-align: right;
}

.main-menu .main-area .panel {
    padding: 5px;
    width: 100%;
    height: 100%;
}

.main-menu .main-area .panel div {
    flex-grow: 1;
}

.main-menu .main-area .panel.status .member {
    flex-direction: row;
    display: block;
    position: relative;
    width: 100%;
    height: 70px;
}

.main-menu .main-area .panel.status .member.template {
    display: none;
}

.main-menu .main-area .panel.status .member .portrait-container {
    flex-basis: 70px;
    flex-grow: 0;
}

.main-menu .main-area .panel.status .member .portrait {
    width: 70px;
    height: 70px;
}

.main-menu .main-area .panel .main-status-row {
    margin-bottom: 8px;
}

.main-menu .main-area .panel .equip-info-row {
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    margin-bottom: 8px;
}

.main-menu .main-area .panel .equip-info-row .value.better {
    color: #6daa2c;
}

.main-menu .main-area .panel .equip-info-row .value.worse {
    color: #d04648;
}

.main-menu .main-area .panel .stats-column {
    flex-basis: 58px;
    flex-grow: 0;
    flex-shrink: 0;
}

.main-menu .main-area .panel .stats-column section {
    display: flex;
}

.main-menu .main-area .panel .stats-column section .label {
    flex-grow: 0;
    flex-shrink: 0;
}

.main-menu .main-area .panel .stats-column section .value {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: right;
}

.main-menu .main-area .panel .slots-column {
    flex-grow: 1;
    flex-shrink: 0;
}

.main-menu .main-area .panel .slots {
    padding: 0 8px;
    width: 100%;
}

.main-menu .main-area .panel .slots li {
    display: flex;
}

.main-menu .main-area .panel .slots .slot .slot-name {
    flex-basis: 30px;
}

.main-menu .main-area .panel .slots .slot .item-name {
    flex-grow: 1;
}

.main-menu .main-area .panel .items {
    flex-grow: 1;
    margin-bottom: 2px;
    position: relative;
}

.main-menu .main-area .panel .description-row {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 41px;
    padding: 3px 0;
}

.main-menu .main-area .panel .items {
    padding: 0 16px;
    width: 100%;
    overflow: hidden;
}

.main-menu .main-area .panel .items .item {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 1px;
}

.main-menu .main-area .panel .items .item .name {
    flex-grow: 1;
}

.main-menu .main-area .panel.exit,
.main-menu .main-area .panel.save {
    display: flex;
    flex-direction: column;
}

.main-menu .main-area .panel .title-row,
.main-menu .main-area .panel.exit .title,
.main-menu .main-area .panel.save .title {
    flex: 0 0 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.main-menu .main-area .panel.exit .selections,
.main-menu .main-area .panel.save .selections {
    flex: 1 0;
    position: relative;
    overflow: hidden;
}

.main-menu .main-area .panel.exit .selections {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-menu .main-area .panel.exit .selections li {
    margin: 0 30px;
}

.main-menu .main-area .panel.exit .note {
    flex: 0 0 auto;
    position: relative;
}
