.shop-menu {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.shop-menu .main-area {
    box-sizing: border-box;
    width: calc(100% - 70px);
    height: 80%;
    border-style: solid;
    border-image: url(box.png) 2 2 fill repeat;
    border-width: 2px;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-menu .main-area .info {
    display: flex;
    flex: 0 0 18px;
    flex-direction: row;
    width: 100%;
}

.shop-menu .main-area .info > *:not(:last-child) {
    margin-right: 20px;
}

.shop-menu .main-area .info .money {
    flex: 1 0;
    text-align: right;
}

.shop-menu .main-area .items-container {
    width: 100%;
    flex: 1 0;
    margin-bottom: 2px;
    position: relative;
    display: flex;
}

.shop-menu .main-area .items,
.shop-menu .main-area .confirm-sell-menu {
    padding: 0 16px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.shop-menu .confirm-sell-menu .sell-info {
    margin: 0em 2em;
}

.shop-menu .confirm-sell-menu .sell-info .label {
    flex-grow: 1;
}

.shop-menu .confirm-sell-menu .sell-info .owned-container {
    display:flex;
}

.shop-menu .confirm-sell-menu .sell-info .equipped-container {
    display:flex;
}

.shop-menu .confirm-sell-menu .sell-info .sell-container {
    margin-top: 0.5em;
}

.shop-menu .confirm-sell-menu .sell-info .sell-container li {
    display:flex;
}

.shop-menu .confirm-sell-menu .sell-info .total-container li . {
    text-align: right;
}

.shop-menu .confirm-sell-menu .sell-info .sell-container li .count::before,
.shop-menu .confirm-sell-menu .sell-info .sell-container li .count::after {
    position: absolute;
    display: block;
    top: -1px;
    width: 14px;
    height: 14px;
    content: "";
    background-image: url("ui_icons.png");
}

.shop-menu .confirm-sell-menu .sell-info .sell-container li .count::before {
    left: -12px;
    background-position: 0px -14px;
}

.shop-menu .confirm-sell-menu .sell-info .sell-container li .count.floor::before {
    background-position: -28px -14px;
}

.shop-menu .confirm-sell-menu .sell-info .sell-container li .count::after {
    right: -12px;
    background-position: -14px -14px;
}

.shop-menu .confirm-sell-menu .sell-info .sell-container li .count.ceil::after {
    background-position: -42px -14px;
}

.shop-menu .confirm-sell-menu .sell-info .sell-container li .count,
.shop-menu .confirm-sell-menu .sell-info .total-container .total {
    text-align: right;
    position: relative;
}

.shop-menu .confirm-sell-menu .sell-info .total-container {
    padding-left: 1.5em;
    display: flex;
}

.shop-menu .item {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0;
    padding-top: 1px;
}

.shop-menu .item span:not(:last-child) {
    padding-right: 4px;
}

.shop-menu .item .name {
    flex: 1 0;
}

.shop-menu .description {
    width: 100%;
    flex: 0 0 41px;
    padding: 3px 0;
    text-align: left;
}
