.shop-menu {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.shop-menu .main-area {
    box-sizing: border-box;
    width: calc(100% - 70px);
    height: 80%;
    border-style: solid;
    border-image: url(box.png) 2 2 fill repeat;
    border-width: 2px;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-menu .main-area .info {
    display: flex;
    flex: 0 0 18px;
    flex-direction: row;
    width: 100%;
}

.shop-menu .main-area .info > *:not(:last-child) {
    margin-right: 20px;
}

.shop-menu .main-area .info .money {
    flex: 1 0;
    text-align: right;
}

.shop-menu .main-area .items-container {
    width: 100%;
    flex: 1 0;
    margin-bottom: 2px;
    position: relative;
    display: flex;
}
.shop-menu .items::before {
    position: absolute;
    display: block;
    top: -2px;
    right: -2px;
    width: 14px;
    height: 14px;
    content: "";
    background-image: url("ui_icons.png");
    background-position: -28px 0px;
}
.shop-menu .items.can-scroll-up::before {
    background-position: 0px 0px;
}
.shop-menu .items::after {
    position: absolute;
    display: block;
    bottom: -2px;
    right: -2px;
    width: 14px;
    height: 14px;
    content: "";
    background-image: url("ui_icons.png");
    background-position: -42px 0px;
}
.shop-menu .items.can-scroll-down::after {
    background-position: -14px 0px;
}

.shop-menu .main-area .items {
    padding: 0 16px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.shop-menu .items .item {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0;
    padding-top: 1px;
}

.shop-menu .items .item span:not(:last-child) {
    padding-right: 4px;
}

.shop-menu .items .item .name {
    flex: 1 0;
}

.shop-menu .description {
    width: 100%;
    flex: 0 0 41px;
    padding: 3px 0;
    text-align: left;
}
