.menu {
    color: #deeed6;
}

.menu .selections {
    list-style: none;
}

.menu .selections >  li {
    position: relative;
}

.menu .selections > li[data-menu="@disabled"],
.menu .selections > li.active[data-menu="@disabled"] {
    color: #8595a1;
}

.menu .selections > li.active {
    color: #dad45e;
}

.menu .selections.active > li.active::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background: url(pointer.png) no-repeat;
    position: absolute;
    top: -2px;
    left: -18px;
}
