.menu {
    color: #deeed6;
}

.menu.selections,
.menu .selections {
    list-style: none;
}

.menu.selections >  li,
.menu .selections >  li {
    position: relative;
}

.menu.selections > li[data-menu="@disabled"],
.menu.selections > li.active[data-menu="@disabled"],
.menu .selections > li[data-menu="@disabled"],
.menu .selections > li.active[data-menu="@disabled"] {
    color: #8595a1;
}

.menu.selections > li.active,
.menu .selections > li.active {
    color: #dad45e;
}

.menu.selections.active > li.active::before,
.menu .selections.active > li.active::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background: url(pointer.png) no-repeat;
    position: absolute;
    top: -2px;
    left: -18px;
}

.menu.selections.scrollable,
.menu .selections.scrollable {
    overflow: hidden;
    position: relative;
}

.menu.selections.scrollable .indicator,
.menu .selections.scrollable .indicator {
    position: absolute;
    display: block;
    background-image: url("ui_icons.png");
    width: 14px;
    height: 14px;
    right: 0px;
    margin: -2px;
}

.menu.selections.scrollable .indicator.up,
.menu .selections.scrollable .indicator.up {
    background-position: -28px 0px;
}

.menu.selections.scrollable.can-scroll-up .indicator.up,
.menu .selections.scrollable.can-scroll-up .indicator.up {
    background-position: 0px 0px;
}

.menu.selections.scrollable .indicator.down,
.menu .selections.scrollable .indicator.down {
    background-position: -42px 0px;
}

.menu.selections.scrollable.can-scroll-down .indicator.down,
.menu .selections.scrollable.can-scroll-down .indicator.down {
    background-position: -14px 0px;
}
