.textbox {
    color: #deeed6;
    text-shadow: 1px 1px 0px #140c1c;
}

.textbox .speaker {
    color: #DAD45E;
    text-transform: uppercase;
}

.inline-choice {
    max-height: 28px;
}
