.engine/resources/app/Egg.js
.engine/resources/app/Egg.js.map
.engine/resources/app/Egg.d.ts
.engine/resources/app/node_modules
examples/**/*.js
examples/**/*.js.map
toys/**/*.js
toys/**/*.js.map
simplequest/**/*.js
simplequest/**/*.js.map
