* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    image-rendering: inherit;
}

body {
    background: #000;
    position: relative;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

plane {
    position: absolute;
    top: 0;
    left: 0;
}

div.ui {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    image-rendering: pixelated;
}
