* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
}

body {
    background: #000;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
