.battle-screen .right-align { text-align: right; }

.battle-screen .left-sidebar {
    width: 70px;
    height: 128px;
    position: absolute;
    top: 29px;
    left: 16px;
    padding: 4px;
    box-sizing: border-box;
}

.battle-screen .right-sidebar {
    width: 70px;
    height: 128px;
    position: absolute;
    top: 29px;
    right: 16px;
    padding: 4px;
    box-sizing: border-box;
}
