.battle-screen {
    color: #deeed6;
}

@keyframes shake {
    0% { transform:translateX(-16%); }
    20% { transform:translateX(8%); }
    40% { transform:translateX(-4%); }
    60% { transform:translateX(2%); }
    80% { transform:translateX(-1%); }
    100% { transform:translateX(0); }
}

.battle-screen.shake .right-sidebar,
.battle-screen.shake .left-sidebar {
    animation-name: shake;
    animation-duration: 0.3s;
}

.battle-screen .left-sidebar {
    width: 70px;
    position: absolute;
    top: 29px;
    left: 16px;
    padding: 5px;
    box-sizing: border-box;
}

.battle-screen .left-sidebar meter {
    width: 100%;
    height: 6px;
}

.battle-screen .left-sidebar meter.hp::-webkit-meter-bar {
    background: #442434;
}

.battle-screen .left-sidebar meter.hp::-webkit-meter-optimum-value {
    background: #6daa2c;
}

.battle-screen .left-sidebar .hp-row {
    display: flex;
    flex-direction: row;
}

.battle-screen .left-sidebar .hp-row > span {
    flex: 0 0 auto;
}

.battle-screen .left-sidebar .hp-row > span:first-child {
    flex: 1 0;
}

.battle-screen .right-sidebar {
    width: 70px;
    position: absolute;
    top: 29px;
    right: 16px;
    padding: 5px;
    box-sizing: border-box;
}

.battle-screen .action-menu {
    position: relative;
}

.battle-screen .item-menu {
    position: absolute;
    left: auto;
    right: 30%;
    top: -5px;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.battle-screen .item-menu .selections {
    flex: 1 0;
}

.battle-screen .item-menu .description {
    width: 100%;
    flex: 0 0 41px;
    padding: 3px 0;
    text-align: left;
}

.battle-screen .item-row {
    display: flex;
    flex-direction: row;
}

.battle-screen .item-row .item-icon {
    flex: 0 0 auto;
}

.battle-screen .item-row .name {
    flex: 1 0;
}

.battle-screen .item-row .count {
    flex: 0 0 auto;
}

@keyframes bounce {
    0% { transform:translateY(0); animation-timing-function:ease-out; }
    12% { transform:translateY(-100%); animation-timing-function:ease-in; }
    24% { transform:translateY(0); animation-timing-function:ease-out; }
    36% { transform:translateY(-50%); animation-timing-function:ease-in; }
    48% { transform:translateY(0); animation-timing-function:ease-out; }
    60% { transform:translateY(-25%); animation-timing-function:ease-in; }
    72% { transform:translateY(0); animation-timing-function:ease-out; }
    84% { transform:translateY(-12.5%); animation-timing-function:ease-in; }
    100% { transform:translateY(0); animation-timing-function:ease-out; }
}

.bouncy {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bouncy .digit {
    opacity: 0;
    display: inline-block;
    transition: opacity 0.2s;
}

.bouncy .digit.bouncing {
    animation-name: bounce;
    animation-duration: 1s;
    opacity: 1;
}
