@font-face {
    font-family: Omelet;
    src: url(Omelet.ttf);
}

@font-face {
    font-family: EggShell;
    src: url(EggShell.ttf);
}

@font-face {
    font-family: EggWhite;
    src: url(EggWhite.ttf);
}

@font-face {
    font-family: EggYolk;
    src: url(EggYolk.ttf);
}

@font-face {
    font-family: Egglet;
    src: url(Egglet.ttf);
}
