* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Calibri, sans-serif;
    font-size: 10pt;

    display: flex;
    flex-direction: column;
}

#engine-status, #game-list {
    margin-bottom: 0.5em;
    padding: 1em 1.5em;
}

#engine-status {
    background: #444;
    cursor: pointer;
}

#engine-status span {
    display: inline-block;
}
#engine-status .icon {
    width: 1.2em;
    height: 1.2em;
    text-align: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

#engine-status.ready { color: #afa; }
#engine-status.ready .icon::after { content: '\2713'; }

#engine-status.dirty { color: #cc5; }
#engine-status.dirty .icon::after { content: '\1F503'; }

#engine-status.compiling { color: #ddd; }
#engine-status.compiling .icon::after {
    content: '\1F503';
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#engine-status.error { color: #f33; }
#engine-status.error .icon::after { content: '\2718'; }

#game-list {
    flex-basis: 0;
    flex-grow: 1;
    overflow: auto;
}

#game-list header {
    font-weight: bold;
    font-size: 115%;
    padding: 0.5em 0;
}

#game-list ul {
    overflow-y: auto;
    overflow-x: hidden;
}

#game-list li {
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
    cursor: pointer;
    list-style: none;
    background: #eee
}

#game-list li.compiling {
    background: #cc5 !important;
}

#game-list li:nth-child(2n) {
    background: #ddd;
}

#game-list li:hover {
    background: #bcf;
}

#game-list li div:not(:last-child) {
    margin-right: 1em;
}

#game-list li .author {
    flex-grow: 1;
    font-style: italic;
    color: #888;
}

#game-list li .recompile {
    visibility: hidden;
}

#game-list li.dirty .recompile, #game-list li.compiling .recompile {
    visibility: inherit;
}

#game-list li .recompile:after {
    content: '\1F503';
}

#game-list li.compiling .recompile::after {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#output {
    font-family: Consolas, monospace;
    font-size: 85%;

    background: #fff;
    border-top: 1px solid #888;
    padding: 0.2em 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: auto;
    flex-basis: 0;
    flex-grow: 1;
    color: #bbb;
    background: #444;
}
