.main-menu {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
}

.main-menu .right-column {
    position: absolute;
    width: 55px;
    top: 2px;
    right: 2px;
}

.main-menu .right-column > * {
    margin-bottom: 1px;
    padding: 3px;
    border-image: url(box.png) 2 2 fill repeat;
}
.main-menu .overview {
    text-align: right;
}


.main-menu .main-area {
    box-sizing: border-box;
    width: calc(100% - 60px);
    height: calc(100% - 4px);
    overflow: hidden;
    border-image: url(box.png) 2 2 fill repeat;
    margin: 2px;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-menu .main-area .layout-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.main-menu .main-area .layout-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-menu .main-area .right-align,
.main-menu .main-area .right-align * {
    text-align: right;
}

.main-menu .main-area .view div {
    display: flex;
    flex-grow: 1;
}

.main-menu .main-area .view.status .member {
    flex-direction: row;
    display: block;
    position: relative;
    width: 100%;
    height: 70px;
    padding: 2px;
}

.main-menu .main-area .view.status .member.template {
    display: none;
}

.main-menu .main-area .view.status .member .portrait-container {
    flex-basis: 70px;
    flex-grow: 0;
    margin-right: 5px;
}

.main-menu .main-area .view.status .member .portrait {
    width: 70px;
    height: 70px;
}
