.main-menu {
    background-color: rgba(0, 0, 0, 0.35);
    background-image: url(menu-bg.png);
}

.main-menu .selections {
    position: absolute;
    top: 5px;
    right: 5px;
}

.main-menu .party-view {
    position: absolute;
    top: 5px;
    left: 5px;
}

.main-menu .party-view .member {
    display: inline-block;
    width: 70px;
    height: 70px;
    position: absolute;
    border: 1px solid white;
}

.main-menu .party-view .member img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-menu .party-view .member .name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
