* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Calibri, sans-serif;
    font-size: 10pt;

    display: flex;
    flex-direction: column;
}

body > section {
    padding: 1em 1.5em;
}

#engine-status {
    background: #333;
    cursor: pointer;
}

#engine-status span {
    display: inline-block;
}
#engine-status .icon {
    width: 1.2em;
    height: 1.2em;
    text-align: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

#engine-status.ready { color: #afa; }
#engine-status.ready .icon::after { content: '\2713'; }

#engine-status.dirty { color: #cc5; }
#engine-status.dirty .icon::after { content: '\1F503'; }

#engine-status.compiling { color: #ddd; }
#engine-status.compiling .icon::after {
    content: '\1F503';
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#engine-status.error { color: #f33; }
#engine-status.error .icon::after { content: '\2718'; }

#controls {
    padding: 0.5em;
    background: #ddd;
    display: flex;
    flex-direction: row;
}

#controls > section:not(:last-child) {
    border-right: 1px solid #888;
}

#controls button {
    background: transparent;
    border: 0;
    font-size: 150%;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    outline: none;
}

#controls button:not(:last-child) {
    margin: 0 1px 0 0;
}

#controls button:hover {
    background: rgba(255, 255, 255, 0.5);
}

#controls button:active {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#game-list {
    flex-basis: 0;
    flex-grow: 1;
    overflow: auto;
}

#game-list header {
    font-weight: bold;
    font-size: 115%;
    padding: 0.5em 0;
}

#game-list header .force-refresh {
    font-weight: normal;
    cursor: pointer;
}

#game-list footer {
    margin: 1em 0;
    padding: 0.5em 0;
    cursor: pointer;
}

#game-list ul {
    width: 100%;
    padding-left: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#game-list li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em 0 0.5em 1em;
    cursor: pointer;
    list-style: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
}

#game-list > ul > li:first-child {
    border-top: 1px solid #ddd;
}

#game-list li.compiling {
    background: #cc5 !important;
}

#game-list li:not:hover {
    background: #bcf;
}

#game-list li.folder {
    padding: 0;
    background: #ddd;
    border-bottom: none;
}

#game-list li.folder .folder-header .icon:before {
    content: '\1f4c2';
}

#game-list li.folder.closed .folder-header .icon:before {
    content: '\1f4c1';
}

#game-list li.folder ul li:not(:first-child) {
    margin-left: 2.5em;
}

#game-list li.folder.closed ul li:not(:first-child) {
    display: none;
}

#game-list li div:not(:last-child) {
    margin-right: 1em;
}

#game-list li .icon,
#game-list li .icon img {
    width: 16px;
    height: 16px;
    line-height: 16px;
}

#game-list li .author {
    flex-grow: 1;
    font-style: italic;
    color: #888;
}

#game-list li .extra {
    display: none;
    flex-basis: 100%;
    padding-left: 3em;
    padding-top: 0.5em;
}

#game-list li .extra > span {
    display: inline-block;
    padding: 0em 1em;
    color: #555;
}

#game-list li .extra > span:hover {
    text-decoration: underline;
    color: #000;
}

#game-list li .extra > span.export input.directory-picker {
    display: none;
}


#game-list li.active {
    background: #fff;
}

#game-list li.active .extra {
    display: block;
}

#game-list li .recompile {
    visibility: hidden;
    margin-right: 1em;
}

#game-list li.dirty .recompile, #game-list li.compiling .recompile {
    visibility: inherit;
}

#game-list li .recompile:after {
    content: '\1F503';
}

#game-list li.compiling .recompile::after {
    animation-name: spin;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#output {
    font-family: Consolas, monospace;
    font-size: 85%;

    background: #fff;
    border-top: 1px solid #888;
    padding: 0.2em 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: auto;
    flex-basis: 0;
    flex-grow: 1;
    color: #bbb;
    background: #444;
}

#output hr {
    border: 0;
    border-top: 1px dashed #888;
    height: 0px;
    margin-bottom: 1em;
}

#dialogs {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

#dialogs:empty {
    display: none;
}

#dialogs > form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1em 3em;
    background: #fff;
    box-shadow: 0px 3px 6px #000;
}

#dialogs > form:not(:last-child) {
    display: none;
}

#dialogs > form div {
    padding: 1em 0;
}

#dialogs > form .buttons {
    display: flex;
    flex-direction: row;
    margin: -5px;
}

#dialogs > form .buttons button {
    flex-grow: 1;
    margin: 5px;
}
