* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

button {
    border: 1px solid #ccc;
    background: none;
    padding: 0.5em 1em;
    cursor: pointer;
}
button:hover {
    background: #fff;
    border-color: #aaa;
}
button:active {
    background: #aaa;
    border-color: #888;
}

.selection-list {
    flex: 1 0;
    background: #fff;
    padding: 3px;
    overflow: auto;
    border: 1px solid #aaa;
}
.selection-list-item {
    cursor: pointer;
    padding: 3px;
}
.selection-list-item.active {
    background: #ddd;
}
.selection-list-item:hover,
.selection-list-item.active:hover {
    background: #aaa;
    color: #fff;
}

body {
    background: #f0f0f0;
    font-family: Calibri, Helvetica, sans-serif;
}

/*** ROOT STYLES ***/

.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*** NAV BAR STYLES ***/

.nav-bar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #aaa;
}

.nav-bar button {
    border-width: 1px 1px 0 1px;
}
.nav-bar button:not(:hover) {
    border-color: transparent;
}

/*** PANEL CONTAINER ***/

.panel-container {
    flex: 1 0;
    display: flex;
}
.panel-container .panel:not(:last-child) { display: none; }

.panel {
    flex: 1 0;
    display: flex;
    padding: 3px;
}
.panel > * {
    margin: 3px;
}
.panel .sidebar {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
}
.panel .tabbar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
}
.panel .panel-body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.panel .tabbar > *,
.panel .sidebar > * {
    margin: 3px;
}
.panel .sidebar button {
    flex: 0 0 auto;
    text-align: left;
}
.panel .tabbar button {
    flex: 0 0 auto;
    text-align: center;
}

/*** DATA PANEL ***/

.data-panel {}

/*** DATA EDIT PANEL ***/

.data-edit-panel {
    flex-direction: column;
}
.data-edit-panel .panel-body {}
.data-edit-panel .tabbar .filename {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 1em;
}

.data-edit-panel .tabbar .table-list {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.data-edit-panel .workarea {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.data-edit-panel .workarea .field-row {
    flex: 0 0 35px;
    display: flex;
    flex-direction: row;
    padding: 3px;
}
.data-edit-panel .workarea .field-row.text {
    flex-basis: 80px;
}

.data-edit-panel .workarea .field-row > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3px;
}
.data-edit-panel .workarea .field-row .label {
    flex: 0 0 150px;
}
.data-edit-panel .workarea .field-row .value {
    flex: 1 0 auto;
}
.data-edit-panel .workarea .field-row .type {
    flex 0 0 auto;
}
.data-edit-panel .workarea .field-row .constraints,
.data-edit-panel .workarea .field-row .constraints > * {
    flex 1 0 auto;
    flex-direction: row;
}
.data-edit-panel .workarea .field-row .constraints > *:not(.active) {
    display: none;
}

.data-edit-panel .workarea .field-row textarea,
.data-edit-panel .workarea .field-row select,
.data-edit-panel .workarea .field-row input[type=text],
.data-edit-panel .workarea .field-row input[type=number] {
    font-family: Consolas;
    padding: 3px;
    width: 100%;
    height: 100%;
    resize: none;
}

.data-edit-panel .workarea .field-row .constraints span {
    display: inline-block;
    text-align: right;
    width: 60px;
}
.data-edit-panel .workarea .field-row .constraints input[type=number] {
    width: 80px;
    height: auto;
}

/*** END ***/
