#engine-status {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #333;
    border-radius: 5px;
    align-self: flex-end;
    position: relative;
}

#engine-status span {
    display: inline-block;
    height: 2.5em;
    margin-left: 1.0em;
    line-height: 2.5em;
}

#engine-status span:last-child {
    margin-right: 1.0em;
}

#engine-status .icon {
    width: 1.5em;
    height: 2.5em;
    text-align: center;
}

#engine-status .message {
    overflow: hidden;
    transition: 0.5s;
}

#engine-status.ready .message {
    width: 0;
    margin: 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-359deg);
    }
}

#engine-status.ready { color: #afa; fill: #afa; }
#engine-status.dirty { color: #cc5; fill: #cc5; }
#engine-status.error { color: #f33; fill: #f33; }
#engine-status.checking,
#engine-status.compiling {
    color: #ddd;
    fill: #ddd;
}
#engine-status.checking .icon,
#engine-status.compiling .icon {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
