#game-overlay {
    position: fixed;
    padding: 0 !important;
    width: calc(100% - 34em);
    height: calc(100% - 3.5em);
    background: rgba(0, 0, 0, 0.5);
}

#game-overlay:not(.open) {
    display: none;
}

#game-overlay .content {
    box-shadow: 0 2px 3em #000;
    position: absolute;
    background: #fff;
    top: 3em;
    left: 3em;
    right: 3em;
    bottom: 3em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#game-overlay .banner {
    flex: 0 0 150px;
    position: relative;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

#game-overlay .title {
    font-size: 250%;
    text-align: left;
    color: #fff;
}

#game-overlay .title .version {
    display: inline-block;
    font-size: 40%;
    text-align: right;
}

#game-overlay .author {
    font-size: 110%;
    text-align: left;
    color: #fff;
}

#game-overlay ul.actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #000;
}

#game-overlay ul.actions li {
    flex: 1 0;
    list-style: none;
    padding: 0.5em;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #eee;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 115%;
}

#game-overlay ul.actions li.primary {
    flex: 1 0 100%;
    padding: 1em;
}

#game-overlay ul.actions li svg {
    margin: 0 0.3em;
}

#game-overlay ul.actions li:hover {
    background: #444;
    color: #fff;
    fill: #fff;
}

#game-overlay .info {
    flex: 1 0;
    padding: 1em 3em;
    white-space: pre-wrap;
    overflow: auto;
}
