.game .subpath {
    color: #aaa;
}

.game-library header {
    display: flex;
    flex-direction: row;
}

.game-library header span {
    flex: 1 0;
    padding: 0;
    line-height: 2.25em;
    cursor: inherit;
}

.game-library header button {
    display: inline-block;
    flex: 0 0 1.5em;
    cursor: pointer;
    text-align: center;
}

.game-library header button:hover {
    background: #ddd;
}

.game-library header button[data-action=remove]:hover {
    background: #f00;
    fill: #fff;
}
