.game .subpath {
    color: #aaa;
}

.game-library.not-found {
    color: #666;
    font-style: italic;
}

.game-library.not-found .games {
    color: #f00;
    padding-left: 3em;
}


.game-library header {
    display: flex;
    flex-direction: row;
}

.game-library header span {
    flex: 1 0;
    padding: 0;
    line-height: 2.25em;
    cursor: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
}

.game-library header button {
    display: inline-block;
    flex: 0 0 1.5em;
    cursor: pointer;
    text-align: center;
}

.game-library header button:hover {
    background: #ddd;
}

.game-library header button[data-action=remove]:hover {
    background: #f00;
    fill: #fff;
}
